<form action="/sent" method="POST"> {{!-- Get or Post(more security) --}}
    <p>Title: </p>
    <input type="text" name="title" placeholder="Write here!">
    <p>Content: </p>
    <textarea name="content"></textarea>
    <button type="submit">Submit</button>
</form> 