body {
    background-color: rgba(0, 0, 0, 0.945);
    color: rgb(214, 165, 5);
    font: normal 13pt Arial;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 10em;
}

#box {
    background-color: rgb(38, 134, 102);
    color: black;
    padding: 15px;
    margin: auto;
    width: 20em; 
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(168, 168, 168, 0.767) 2px 2px 7px;
}

input {
    text-align: center;
    width: 10em;
}

#butt {
    margin-bottom: 5px;
    width: 5em;
    cursor: pointer; /* Ponteiro do Mouser*/
}
