<h1>YOUR FORM HAS BEEN SENT!</h1>
<p>Wait for the results...</p>

<img src="https://images.unsplash.com/photo-1651411249593-b7ecc1e20181?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="cute cat with cushion">