body {
    background-color: black;
    color: rgb(255, 255, 255);
    font: normal 13pt Arial;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
}

section {
    background-color: rgb(163, 29, 85);
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    font-weight: 550;
    box-shadow: rgba(245, 245, 245, 0.459) 2px 2px 15px;
}

#mensagem {
    background-color: aliceblue;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100px;
    width: 45%;
    padding: 5px;
    color: black;
    font-size: 15px;
}

button {
    cursor: pointer;
}