<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <h1>Qual você prefere?</h1>
        </header>

        <form action="/second" method="post">
            <div class="form-group">
                <label for="color">
                    <p>Qual cor melhor combina com você?</p>
                    <input type="radio" name="colors" id="color" value="black"> Black
                    <input type="radio" name="colors" id="color" value="blue"> Blue
                    <input type="radio" name="colors" id="color" value="red"> Red
                    <input type="radio" name="colors" id="color" value="pink"> Pink
                    <input type="radio" name="colors" id="color" value="white"> White
                    <input type="radio" name="colors" id="color" value="yellow"> Yellow
                    <input type="radio" name="colors" id="color" value="orange"> Orange
                    <input type="radio" name="colors" id="color" value="green"> Green
                </label>
            </div>
            <div class="form-group">
                <label for="cat">
                    <p>Qual dos gatos abaixo você seria?</p>
                    <input type="radio" name="cats" id="cat" value="cat1"> <img src="node\exercises\ex015\images\cats\cat1.jpg" alt="gato com expressão raivosa">
                    <input type="radio" name="cats" id="cat" value="cat2"> <img src="" alt="gato mostrando a língua"> 
                    <input type="radio" name="cats" id="cat" value="cat3"> <img src="" alt="gato e cachorro juntos"> 
                    <input type="radio" name="cats" id="cat" value="cat4"> <img src="" alt="gato com óculos"> 
               </label>
            </div>
        </form>

        <footer>

        </footer>
    </main>
</body>